*{
    margin:0;
    padding:0;
    
}
body{
    background-color:#222222;/* cor de fundo  */
    color:rgb(153, 255, 0);/* Cor do texto */   
}

i{
    color:rgba(155, 255, 6, 0.671);
    font-size: 50px;
}

#header{
    background-color: rgb(0, 0, 0);
    display:flex;
    flex-flow:row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius:5px 10px 10px;
    padding: 8px 16px;
    z-index:2;
   
}

